<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cuixbo.lib.imagepicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!--Android7.0之后，StrictMode API 政策禁止在您的应用外部公开(file://)
需要使用FileProvider转换成(content://)及uri grant权限.
拍照等功能需要用到-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.imagepicker.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_file_paths" />
        </provider>
    </application>
</manifest>
